@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "JosefinSlab";
  src: url("/fonts/JosefinSlab/JosefinSlab-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSlab";
  src: url("/fonts/JosefinSlab/JosefinSlab-Bold.ttf") format("trueType");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PinyonScript";
  src: url("/fonts/Pinyon_Script/PinyonScript-Regular.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}
